@import 'tailwindcss';

@font-face {
  font-family: 'PP Object Sans';
  src: url('/src/assets/fonts/object.ttf') format('ttf');
  font-weight: 400;
}

h1 {
  font-family: 'PP Object Sans', sans-serif;
}

p {
  color: #292929;
}
/* button {
  color: white;
} */
